<section class="aboutWrap">
<div class="aboutInfo">
  This is an app for those that have trouble focusing! <br></br>
  it has been found that a great tatic to help with getting back to high levels of focus is to write down the thoughts in your head. <br></br>
  By doing so it frees up your mind to do serious thinking for the task at hand while also ensureing that you don't forget the intresting thoughts that were detering you in the first place!
  <br></br>
  by having an application for this process it also will help keep it more easily organized than if you were just writing on paper!
</div>

<div class="row">
  INSERT CONTACT INFORMATION
</div>

</section>
