<nav-bar></nav-bar>
<section class="createWrap">
  <div class="createInnerWrap">
    <form  id="createIdea" ng-submit="editIdeas();">
        <div class="row">
            <h5 class="modulTweaks">Create Your Idea!</h5>
            <div class="small-12 columns">
                <label>Title Name
          <input class="titleInput" type="text" ng-model='editIdea.title' placeholder="{{editIdea.title}}" required>
        </label>
            </div>
            <div class="small-12 columns">
                <label>
      Get those ideas down and get back to being focused!
      <textarea class="textArea" ng-model='editIdea.idea' placeholder="{{editIdea.idea}}"></textarea>
      </label>
            </div>
        <div class="small-12 columns" >
          <button type="submit" class="button primary expanded" ng-click="editIdeas()" >Edit Idea</button>
        </div>
        </div>
    </form>
  </div>
</section>
