
    <form  class="reveal" id="createIdea" data-reveal ng-submit="testFunction();">
        <div class="row">
            <h5 class="modulTweaks">Create Your Idea!</h5>
            <div class="small-12 columns">
                <label>Title Name
          <input type="text" ng-model='thought.title' placeholder="Title">
        </label>
            </div>
            <div class="small-12 columns">
                <label>
      Get those ideas down and get back to being focused!
      <textarea ng-model='thought.idea' placeholder="What's on your mind?"></textarea>
      </label>
            </div>
        <div class="small-12 columns" >
          <button type="submit" class="button primary expanded" data-close ng-click="createIdeas(); testFunction();" >Post Idea</button>
        </div>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
    </button>
    </form>
